@model string
@{
    ViewData["Title"] = "Reset Password";
}

<section class="login_container" style="margin-top:20px;">
    <img src="/images/mimsv2.png" class="mims_logo" />
<h3>@ViewData["Title"]</h3>
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger mt-3">
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <p>@error.ErrorMessage</p>
            }
        </div>
    }

<form asp-action="ResetPassword" method="post">
    <input type="hidden" name="token" value="@Model" />

    <div class="form-group">
        <label for="newPassword">New Password:</label>
        <input type="password" name="newPassword" class="form-control" required minlength="6" />
    </div>
    <br />
    <button type="submit" class="btn btn-success mt-2">Reset Password</button>
</form>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger mt-3">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}
</section>