
@{
    ViewData["Title"] = "Mims Login Page";
}
@model Mimsv2.Models.LoginModel

<main>

<section class="login_container" style="margin-top:0;">
    <img src="/images/mimsv2.png" class="mims_logo" />
            <form asp-action="LoginVerify" asp-controller="Login" method="post">
            @Html.AntiForgeryToken()
        <br />
        <label for="loginname" class="login_label">Login Name</label>
        <input class="form-control" type="text" asp-for="loginname" />
            <span asp-validation-for="loginname" class="text-danger"></span>
        <br />
            <label for="password" class="login_label">Password</label>
            <input class="form-control" type="password" asp-for="password" />
            <span asp-validation-for="password" class="text-danger"></span>
        <br /><br />
            <button type="submit" class="form_btn">Submit</button>
    </form>


    <div class="register">
        <a asp-action="Register" asp-controller="Login">Register Here</a>
   
            <a  asp-area="" asp-controller="Account" asp-action="ForgotPassword">Forgot Password</a>
    </div>

</section>
</main>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive@3.2.12/dist/jquery.validate.unobtrusive.min.js"></script>
}