@{
    ViewData["Title"] = "Admin Page";
}
<div class="alert alert-success">Welcome Admin! Full access granted.</div>
<div class="text-center">
    <h1 class="display-4">Admin Dash</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



