@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">

    <span class="welcome_icons">
        <a  asp-area="" asp-controller="Login" asp-action="Index"><i class="bi bi-box-arrow-in-right"></i>Login</a>
        <a  asp-area="" asp-controller="Login" asp-action="Register"><i class="bi bi-person-add"></i>Register</a>
    </span>

    <img src="/images/mimsv2.png" style="width:200px" class="animated-logo" />

<h3>Melomed Incident Management System</h3>

<p>
MIMS is the Melomed Incident Management System, your dedicated platform for logging and managing incidents with unprecedented ease and efficiency. We understand the critical importance of accurate and timely reporting, and MIMS is designed to ensure every detail is captured, tracked, and resolved effectively.
<br /><br />

        MIMS is Melomed's' Incident Management System, a dedicated platform for logging and managing incidents with ease and efficiency. We understand the critical importance of accurate and timely reporting, and MIMS is designed to ensure every detail is captured, tracked, and resolved effectively.
        <br /><br />
        <b>What is MIMS?</b><br />
        MIMS provides a centralized, intuitive platform specifically tailored to Melomed's needs. 
        <br />

    </p>
</div>