*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}

html {
  font-size: 14px;
}
body {
    background-color: whitesmoke;
    min-height: auto;
    overflow-y: auto;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;

}



.melo_logo{

    width:120px;
}

.toright{
    float:right;
}

.login_container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 550px;
    height: 450px;
    background-color: whitesmoke;
    border-radius: 6px;
    padding: 1.2rem;
    box-shadow: 0px 5px 10px rgba(160, 159, 159, 0.4);
}

.register_container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 550px;
    height: auto;
    background-color: whitesmoke;
    border-radius: 6px;
    padding: 1.2rem;
    box-shadow: 0px 5px 10px rgba(160, 159, 159, 0.4);
}

.login_label {
    font-weight: 400;
    line-height: 2;
    text-align: left;
}
.mims_logo{
    width:120px;
}

.register {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-grow: 1;
}

    .register a {
        text-decoration: none;
        transition:1s;
    }
        .register a:hover {
        color:orangered;
        }

.form_btn{
    background-color:rgb(27, 136, 161);
    color:white;
    padding:6px 12px;
    font-size:1rem;
    border-radius:6px;
    outline:none;
    border:none;
    transition:1s;
}

.form_btn:hover{
    background-color:orangered;
}

.form_table{
    width:100%;
    font-size:0.96rem;
    border-collapse:collapse;

}

.form_table th{
    background-color:lightgrey;
    padding:6px;
}
    .form_table td {
        padding: 6px;
    }

    .form_table tr:nth-child(odd) {
        background-color: white;
    }

    .form_table tr:nth-child(even) {
        background-color: whitesmoke;
    }



.view_tbl {
    width: 100%;
    font-size: 0.96rem;
    border-collapse: collapse;
}

    .view_tbl th {
        background-color: lightgrey;
        padding: 6px;
        color:white;
    }

    .view_tbl td {
        padding: 2px;
    }

    .view_tbl tr:nth-child(odd) {
        background-color: white;
    }

    .view_tbl tr:nth-child(even) {
        background-color: ghostwhite;
    }

.app-container {
    display: flex; /* This is the critical line! */
    height: 100vh; /* Make the container take the full viewport height */
    width: 100vw; /* Make the container take the full viewport width */
}


/* --- Side Navigation Styles --- */


.side_nav {

   /* height: 100vh;*/
    background-color: whitesmoke;
    width: 12rem;
    padding: 1.8rem 0.15rem;
    color: grey;
    display: flex;
    flex-direction: column;
    transition: width 0.5s ease-in-out;
  /*  box-shadow: 2px 0 5px rgba(0,0,0,0.1);*/
    z-index: 10;
    margin-left:7px;
}

.shrink .side_nav {
    width: 60px; /* or whatever your shrunk width should be */
}

body.shrink .side_nav .nav-item .text {
    opacity: 0;
    width: 0;
    margin-left: 0;
    display:none;
    transition: width 0.5s ease-in-out;
}

    /* Icon only styles when collapsed */
    .side_nav.collapsed {
        width: 50px;
        transition:500ms;
    }

.icon {
    font-size: 1.6rem;
    display: inline-block;
    cursor: pointer;
    padding: 0.4rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
    letter-spacing: 0.3rem
}

.clr1 {color:dodgerblue;}

.clr2 {color: limegreen;}

.clr3 {color: orangered;}

.clr4 {color: green;}

.clr5 {color: orange;}

.clr6 {color: black;}

.clr7 {color: rebeccapurple;}

.clr8 {color: steelblue;}

.clr9 {color: goldenrod;}

.clr10 {color: peachpuff;}



.icon:hover {
    color: limegreen;
}

.tooltip-container {
    position: relative;
    display: inline-block;
    transition: 1s;
}

.tooltip-text {
    display: none;
    opacity: 0;
    color: grey;
    text-align: left;
    position: absolute;
    z-index: 10;
    bottom: 6px;
    left: 98px;
    transform: translateX(-50%);
    white-space: nowrap;
    transition: opacity 0.5s ease, visibility 0.3s ease;
    border-radius: 3px;
    min-width: 100px;
    padding: 10px 0;
   
}

.tooltip-container:hover .tooltip-text {
    /*visibility: visible;*/ /* Show on hover */
    display: block;
    opacity: 1; /* Fade in on hover */
    background-color: whitesmoke;
    
}


.nav_toggle {
    display: none; /* hide by default */
    position: fixed;
    top: 65px;
    left: 15px;
    font-size: 26px;
    background: none;
    border: none;
    color: #111;
    cursor: pointer;
    z-index: 1100;
}



.side_nav a{
    text-decoration: none;
    color: grey;
    transition: 600ms;
    font-weight: 600;
    font-size: 1rem;
    padding:10px;
}
.side_nav a:hover {
    color: steelblue;
}

/* Mobile styles: full slide in/out */
@media (max-width: 568px) {
    .side_nav {
        width: 220px;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }

        .side_nav.active {
            transform: translateX(0);
        }

    .nav_toggle {
        display: block;
    }
}

main {
    flex: 1;
    color: #1f2027;
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow-y: auto;
    padding: 1.5rem;
    box-sizing: border-box;
    position: relative;
    height: 100vh; 
    max-height: 100vh; 

}


.shrink-btn {
    font-size: 1rem;
    position: absolute;
    top: 5rem;
    left: calc(13.5rem - 20px); /* Adjust based on your sidebar width */
    cursor: pointer;
    z-index: 10; /* Ensure it stays above other elements */
    transition: all 0.9s ease; /* Smooth movement */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:ghostwhite;
    border:none;
}

/* When sidebar is shrunk */
body.shrink .shrink-btn {
    left: calc(85px - 20px); /* Adjust based on shrunk sidebar width */
}

    /* Optional: Rotate the icon when shrunk */
    body.shrink .shrink-btn i {
        transform: rotate(180deg);
    }
    .shrink-btn:hover {
        box-shadow: 0 3px 10px -3px rgba(70, 46, 118, 0.3);
        transform: scale(0.95);
    }

#spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(9, 9, 9, 0.35);
    align-items: center;
    justify-content: center;
    z-index: 9999;
    display:none;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #007bff; /* Bootstrap Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 0.9s linear infinite;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes rotateYLogo {
    0% {
        transform: rotateY(0deg); /* Start at original position */
    }

    50% {
        transform: rotateY(75deg); /* Rotate about a third of the way on Y-axis */
    }

    100% {
        transform: rotateY(0deg); /* Return to original position */
    }
}

/* Apply the animation to the image */
.animated-logo {
    animation: rotateYLogo 5s ease-in-out; /* 4 seconds duration, ease-in-out timing - removed infinite */
    animation-delay: 0.8s; /* Added 200ms delay before animation starts */
    transform-style: preserve-3d; /* Important for 3D transformations */
    perspective: 1000px; /* Gives a better 3D effect */
}

.welcome_icons{
 
    position:fixed;
    top:100px;
    right:50px;
    word-spacing:10px;
}

    .welcome_icons a {
        display: inline;
        color: steelblue !important;
        font-size: 1.2rem;
        font-weight:500;
        transition:1s;
        text-decoration:none;
    }

        .welcome_icons a:hover {
            color: limegreen !important;
        }

.form_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto;
    border:1px solid lightgrey;
    border-radius:10px;
}

.form_grid_item {
    font-size: 1rem;
    background-color: whitesmoke;
    border-radius: 0px;
    padding: 0.3rem;
    font-size: 0.85rem;
 
}

.form_grid_item_span2 {
    grid-column:span 2;
    font-size: 1rem;
    background-color: whitesmoke;
    border-radius: 0px;
    padding: 0.3rem;
    font-size: 0.85rem;

}

.form_grid_item_span3_nc {
    grid-column: span 3;
    background-color: whitesmoke;
    font-size: 0.85rem;
    background-color: whitesmoke;
    border-radius: 0px;
    padding: 0.3rem;
}

.form_grid_item_span4 {
    grid-column: span 4;
    background-color: steelblue;
    padding: 0.3rem;
    font-size: 1rem;
    color: white;
    font-weight: 400;
}
.form_grid_item_span4e {
    grid-column: span 4;
    background-color: #6cb873;
    padding: 0.3rem;
    font-size: 1rem;
    color: white;
    font-weight: 400;
}

.form_grid_item_span4e_nc {
    grid-column: span 4;
    background-color: whitesmoke;
    font-size: 0.85rem;
    background-color: whitesmoke;
    border-radius: 0px;
    padding: 0.3rem;
}

.form_grid_item_span4_nc {
    grid-column: span 4;
    background-color: whitesmoke;
    font-size: 0.85rem;
    background-color: whitesmoke;
    border-radius: 0px;
    padding: 0.3rem;
}
select:disabled {
    background-color: #f8f9fa;
    color: #6c757d;
    cursor: not-allowed;
}

.form_check{
    width:2rem;
    height:2rem;
}

.form_textarea{
    width:100%;
    height:100px;
    border:1px solid lightgrey;
    border-radius:6px;
    padding:6px;
}

label {
    font-size: 0.85rem;
    font-weight: 500;
    color: grey;
}

.form_radio {
    display: inline;
    font-size: 1rem;
    font-weight: 500;
    word-spacing: 60px;
    padding-left: 3px;
    width:20px;
    height:20px;
}


.dash_container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 4px;
}

.dash_item {
    box-shadow: 0 3px 10px -3px rgba(70, 46, 118, 0.3);
    border-radius: 6px;
    border: 1px solid lightgrey;
    position: relative;
    align-content: center;
    background-color: white;
    padding: 10px;
}

.dash_item_span2 {
    grid-column: span 2;
    box-shadow: 0 3px 10px -3px rgba(70, 46, 118, 0.3);
    border-radius: 6px;
    border: 1px solid lightgrey;
    position: relative;
    align-content: center;
    background-color: white;
    padding: 10px;
}

.dash_item_span3 {
    grid-column: span 3;
    border-radius: 6px;
    border: 1px solid lightgrey;
    position: relative;
    align-content: center;
    background-color: white;
    padding:10px;
}
.dash_item_span4 {
    grid-column: span 4;
    box-shadow: 0 3px 10px -3px rgba(70, 46, 118, 0.3);
    border-radius: 6px;
    border: 1px solid lightgrey;
    position: relative;
    align-content: center;
    background-color: white;
    padding: 10px;
}

.dash_item_span6 {
    grid-column: span 6;
    box-shadow: 0 3px 10px -3px rgba(70, 46, 118, 0.3);
    border-radius: 6px;
    border: 1px solid lightgrey;
    position: relative;
    align-content: center;
    background-color: white;
    padding: 10px;
}

.inner_items{
   display:flex;
   justify-content:center;
   align-items:center;
    font-size:3rem;
    font-weight:600;
}
.dash_anchor{
    text-decoration:none;
    display:inline-block;
    border:none;
    outline:none;
    transition:500ms;
}
    .dash_anchor:hover {
        scale: 1.03;
        box-shadow: 0 3px 10px -3px limegreen;
    }
    .inner_items.open {
        color: dodgerblue;
    }

.inner_items.hold {
    color: darkorange;
}


.inner_items.closed {
    color: forestgreen;
}

    .inner_items.total{
        color: red;
    }

    .inner_items.five{
        color: darkgoldenrod;
    }

    .inner_items.ten{
        color: rebeccapurple;
    }
.inner_text {
position:absolute;
left:2px;
top:2px;
color:grey;
}

.dash_p{
    color:grey;
    font-size:1rem;
}


.read-box {
    display: inline-block;
    max-width: 600px;
    transition: 1s;
}

.read-toggle {
    margin-left: 10px;
    color: #007bff;
    cursor: pointer;
    font-size: 0.9em;
    transition:1s;
    color:green;
    text-decoration:none;
    float:right;
}

.read-toggle:hover{
    color:orangered;
}

.tbodysearch {
    width: 100%;
    font-size: 0.95rem;
    border: none;
    outline: none;
    border-bottom: 2px solid grey;
    padding: 6px;
    background-color:transparent;
}

    .tbodysearch::placeholder {
        color: grey;
        font-weight: 600;
    }

    .tbodysearch:hover {
        border-bottom: 2px solid orangered;
    }

    .tbodysearch:focus {
        border-bottom: 2px solid limegreen;
    }



a.active-link {
    color: orangered !important;
    font-weight: 600;
}

    a.active-link .icon i,
    a.active-link .text,
    a.active-link .tooltip-text {
        color: orangered !important;
        font-weight: 600;
    }

    /* Optional: background or border for icon */
    a.active-link .icon {
        background-color: rgba(255, 69, 0, 0.1); /* light orangered */
        border-radius: 8px;
    }
.nav-item a:hover {
    color: #ff7043; /* lighter orange */
}